.tabs {
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.tab {
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}

.tab.active {
    color: #fff;
    border-bottom: 2px solid #0a8ddf;
}